@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@/styles/colors.css";
@import "@/styles/fonts.css";
@import "@/styles/semantic-tokens.css";

@layer base {
  * {
    @apply border-primary-dark;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-primary font-body text-body antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono;
  }

  a,
  pre,
  code,
  kbd,
  samp {
    @apply font-mono text-base leading-relaxed;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ol,
  ul {
    @apply list-inside ps-4 mb-2;
  }

  .donate-button {
    display: inline-block;
    padding: 0.2rem 1rem;
    background-color: hsla(var(--accent));
    color: hsla(var(--primary-dark)) !important;
    font-weight: 600;
    transition: all 0.2s;
    text-decoration: none;
  }

  .donate-button:hover {
    background-color: hsla(var(--accent-light));
    color: hsla(var(--primary-dark)) !important;
  }

  .donate-button:visited {
    color: hsla(var(--primary-dark)) !important;
  }
}
